**/.*.swp
.stack-work
.HTF
stack.yaml.lock
**/*.o
**/*.byte
**/*.hi
*.bin
*.aux
*.fdb_latexmk
*.fls
*.log
*.blg
*.bbl
compiladores.cabal
test/*.c
test/correctos/*.c
a.out
.vscode/settings.json
pepe
program
